.shakeit {
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
  }
  .itemaddedanimate {
    -webkit-transition: all ease-in-out 0.5s;
  }
  @-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.8); }
    100% { -webkit-transform: scale(1); }
  }

  .btns{
    display: inline;
  }

  .rBtn{
    position: relative;
    float: right;
  }

  .lBtn {
    left:0%;
  }

  .add-amount-field-full-width{
    position: relative;
    margin-left: 6vw;
  }
  