<section *ngIf="!isPayed">
  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <img class="productImage" src={{element.imageUrl}}>
            </mat-cell>
          </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight for price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} {{element.weight ? 'gr' : ''}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weightAmount">
          <mat-header-cell *matHeaderCellDef> Weight / Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weightAmount}} {{element.amount}} {{element.weightAmount ? 'gr' : ''}} </mat-cell>
        </ng-container>
    
          <!-- Delete product Column -->
        <ng-container matColumnDef="deleteProduct">
          <mat-header-cell *matHeaderCellDef> Delete Product </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button (click)="deleteProductFromCart(element)" mat-button>
                  <i class="material-icons deleteBtnIcon">delete</i>
              </button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  <button mat-button [disabled]="cartDetails.length==0" (click)="saveCart()">Pay</button>
  {{totalPrice}}
</section>

<section *ngIf="isPayed">
  payed!!!
  <button mat-button (click)="returnToMain()">Return to main page</button>
  <button mat-button (click)="share()">Share</button>
  <p>
    {{money}}
  </p>
</section>