<section *ngIf="!isPayed">
  <div class="example-container mat-elevation-z8 cart-talbe">
      <mat-table #table [dataSource]="dataSource">
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <img class="productImage" src={{element.imageUrl}}>
            </mat-cell>
          </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight for price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} {{element.weight ? 'gr' : ''}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weightAmount">
          <mat-header-cell *matHeaderCellDef> Weight / Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weightAmount}} {{element.amount}} {{element.weightAmount ? 'gr' : ''}} </mat-cell>
        </ng-container>
    
          <!-- Delete product Column -->
        <ng-container matColumnDef="deleteProduct">
          <mat-header-cell *matHeaderCellDef> Delete Product </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button (click)="deleteProductFromCart(element)" mat-button>
                  <i class="material-icons deleteBtnIcon">delete</i>
              </button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  <button mat-raised-button class="payBtn" [disabled]="cartDetails.length==0" (click)="openRecommendedModal()">Pay</button>
  <span>Total Price: </span>{{totalPrice}}
</section>

<section *ngIf="isPayed">
  <h1>Your order has been registered and will be treated as soon as possible! </h1>
  <p>
    Thank you for your order! Mail with invoice sent to the e-mail address you specified at the time of booking!
    <br>
    If you have any questions or concerns please contact our customer service at 052-0000000, email supernet@gmail.com or contact us
  </p>

  <button mat-raised-button (click)="returnToMain()">Return to main page</button>
  <a class="btn btn-social btn-facebook" (click)="share()">
      <span class="fa fa-facebook"></span>  Share
    </a>
  <p>
    {{money}}
    
  </p>
</section>

<footer class="conditions">
        This Braintree Payment Services Agreement, and the agreements, policies, and documents incorporated herein, (this “Agreement”), is entered into by and between PayPal, Inc., a Delaware corporation whose address is 2211 North First Street, San Jose, CA 95131 (“Braintree,” “PayPal,” “we,” or “our”) and the entity or individual who enters into this Agreement (“Merchant” or “you”). This Agreement sets out the terms and conditions under which you may utilize the Braintree Payment Services.
  
  This Agreement becomes a legally binding contract and is effective as of the earliest date you do any of the following (the “Effective Date”):
  
  Create an account on the Braintree website; Accept this Agreement online; or Begin using the Braintree Payment Services. This Agreement, as it may be amended from time to time, will be available on the “Legal” tab on the Braintree website. In addition to the terms of this Agreement, you agree to be bound by the terms of our Privacy Policy and Acceptable Use Policy, as well as your applicable Bank Agreement(s), which are incorporated herein by this reference.
  
  Please be advised that this Agreement contains provisions, including an Agreement to Arbitrate, that govern how claims you and Braintree have against each other are resolved, which will, with limited exception, require the parties to submit claims they may have against one another to binding and final arbitration. Under the Agreement to Arbitrate, the parties will (1) only be permitted to pursue claims against each other on an individual basis, not as a plaintiff or class member in any class or representative action or proceeding and (2) only be permitted to seek relief (including monetary, injunctive, and declaratory relief) on an individual basis.
</footer>