<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">About us</div>
        <div class="panel-body" align="center">
          <section>
            <aside>
              <video width="400" height="300" controls>
                  <source src="../../assets/video/שופרסל אונליין- השקה.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video> 
            </aside>
            <p class="aboutTxt">
                <b>A huge world of shopping</b> <br>
                The largest shopping site in Israel for the sale 
                of food products through the chain. SuperNet  
                offers the widest range of products - furniture, 
                electrical appliances and of course food.
              </p>
            <p class="aboutTxt">
                As part of the Israeli health revolution, SuperNet seeks to respond to the demand for healthy, fresh and organic food. Green stores and stores provide vegetables, fruits, cereals, pulses, dairy products and more, all organic
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
    <p>Contact information: <a href="mailto:supernet@gmil.com">supernet@gmail.com</a>.</p>
</footer>