<mat-toolbar color="primary" class="toolbar">
  <!--<canvas id="myCanvas" width="250" height="300"
    style="border:1px solid #d3d3d3;">
    Your browser does not support the HTML5 canvas tag.</canvas>-->
    <img #pdf style="display: none;" width="100" height="50" (load)="afterLoading()" src="../assets/img/logo.PNG" />
    <canvas #canvas id="canvas" width="100" height="50" (click)="menuButtonClicked('welcome')"></canvas>
  
    <nav class="button-row">
      <button *ngIf="isAdmin" mat-button color="white" (click)="menuButtonClicked('users')">Users</button>
      <button *ngIf="isAdmin" mat-button color="white" (click)="menuButtonClicked('products')">Products</button>
      <button *ngIf="isAdmin" mat-button color="white" (click)="menuButtonClicked('statistics')">Statistics</button>
      <button *ngIf="isAdmin" mat-button color="white" (click)="menuButtonClicked('chat')">Public sale</button>

      <button *ngIf="!isAdmin" mat-button color="white" (click)="menuButtonClicked('profile')">Profile</button>
      <button *ngIf="!isAdmin" mat-button color="white" (click)="menuButtonClicked('products')">Products</button>
      <button *ngIf="!isAdmin" mat-button color="white" (click)="menuButtonClicked('cart')">Pay</button>


      <button *ngIf="isLoggedIn" mat-button color="white" (click)="logout()">Logout!</button>
    </nav>
  </mat-toolbar>
<router-outlet></router-outlet>