<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<form [formGroup]="filterUserForm" novalidate class="filter-user-form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-select class="form-control  space" formControlName="isAdmin" placeholder="User type">
      <mat-option *ngFor="let type of userTypes" [value]="type.value">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>

    <input matInput class="form-control  space" formControlName="email" placeholder="Email" value="">
    
    <input matInput class="form-control  btnSpace" formControlName="name" placeholder="Name" value="">
      
    <button mat-button mat-raised-button color="primary"  (click)="submit" class="btn btn-primary">Search</button>
  </mat-card>
</form>

<div class="example-container mat-elevation-z8 user-table">
  <mat-table #table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- IsAdmin Column -->
    <ng-container matColumnDef="isAdmin">
      <mat-header-cell *matHeaderCellDef> admin </mat-header-cell>
      <mat-cell class="checkBoxAdmin" *matCellDef="let element"> 
        
        <mat-checkbox [checked]="element.isAdmin" [disabled]="element.id==this.userId" (change)="changeAdminStatus(element.id,$event.checked)"></mat-checkbox>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<button mat-raised-button *ngIf="userChangedStatuses.length > 0"
   class="savedButton w3-container w3-center w3-animate-bottom" (click)="saveAdminChange()">
   Save</button>

