<form [formGroup]="filterUserForm" novalidate class="filter-user-form" (ngSubmit)="onSubmit()">

    <input matInput class="form-control" formControlName="id" placeholder="Id" value="">
 
    <input matInput class="form-control" formControlName="email" placeholder="Email" value="">
    
    <pre>{{filterUserForm.value | json}}</pre>
    <button mat-button (click)="submit" class="btn btn-primary">Search</button>
  </form>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- IsAdmin Column -->
    <ng-container matColumnDef="isAdmin">
      <mat-header-cell *matHeaderCellDef> admin </mat-header-cell>
      <mat-cell class="checkBoxAdmin" *matCellDef="let element"> 
        
        <mat-checkbox [checked]="element.isAdmin" [disabled]="element.id==this.userId" (change)="changeAdminStatus(element.id,$event.checked)"></mat-checkbox>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<button mat-raised-button (click)="saveAdminChange()">Save</button>