<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<form [formGroup]="filterProductForm" novalidate class="filter-product-form" (ngSubmit)="onSubmit()">

    <input matInput class="form-control" formControlName="name" placeholder="Name" value="">
 
    <input matInput class="form-control" formControlName="price" placeholder="Price" value="">
    
    <mat-select  class="form-control" formControlName="category" placeholder="Categoty">
      <mat-option *ngFor="let category of categories" [value]="category._id">
        {{ category.name }}
      </mat-option>
    </mat-select>
    <pre>{{filterProductForm.value | json}}</pre>
    <button mat-button (click)="submit" class="btn btn-primary">Search</button>
  </form>


<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <img class="productImage" src={{element.imageUrl}}>
      </mat-cell>
    </ng-container>

    <!-- AddToCart Column -->
    <ng-container *ngIf="!currentUser.isAdmin" matColumnDef="addToCart">
        <mat-header-cell *matHeaderCellDef> Add to cart </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button class="addToCartBtn" (click)="openAddToCartModal(element)" mat-button>
                <i class="material-icons cartBtnIcon">add_shopping_cart</i>
            </button>
        </mat-cell>
      </ng-container>

      <!-- Delete product Column -->
    <ng-container *ngIf="currentUser.isAdmin" matColumnDef="deleteProduct">
      <mat-header-cell *matHeaderCellDef> Delete Product </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
          <button (click)="openDeleteProductModal(element)" mat-button>
              <i class="material-icons deleteBtnIcon">delete</i>
          </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<button mat-button *ngIf="currentUser.isAdmin" color="white" (click)="openAddProductModal()">Add</button>
<button mat-button *ngIf="currentUser.isAdmin" color="white" (click)="openCategoriesModal()">Manage Categories</button>