.productImage{
    width:50px;
    height: 50px;
}

.addToCartBtn {
    border-radius: 10px;
    border: 3px solid #BADA55;
}

.cartBtnIcon{
    color: #BADA55;
}

.deleteBtnIcon {
    color: #e53935;
}

.form-control {
    width:17vw;
    display: inline-block;
}

.space {
    margin-right: 4vw;
}

.btnSpace {
    margin-right: 8vw;
}

.mat-card {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
}

.filter-product-form {
    align-content: center;
}

.product-table {
    margin-top: 4vh;
    width: 80vw;
    position: relative;
    left: 10vw;
}


.manager {
    position: absolute;
    bottom: 0px;
    width: 42vw;
    background-color: white;
    -webkit-box-shadow: 1px 1px 3px 2px;
    box-shadow: 1px 1px 3px 2px;
    left: 50%;
    margin-left: -21vw;
    padding-top: 2vh;
    padding-left: 4vw;
    height: 10vh;
}

.manager button {
    width: 14vw;
}

.managerRight {
    margin-right: 6vw;
}

.managerLeft {
    
}

.example-container{
    overflow: auto;
    height: 63vh;
}

